.calculator-container{
    height: 450px;
    width: 450px;
    border-radius: 10px;
    border: solid 1px white;
    margin: auto;
    margin-top: 50px;
    padding: 20px;
    display: block;
    box-shadow: 1px 1px 16px 5px #808080;  
    position: relative;
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.btn{
    height: 35px;
    width: 45px;
    font-weight: bold;
    font-size: 22px;
    border: 2px solid grey;
    border-radius: 6px;
    background-color: #ecf2f8;
    margin: 10px;
}
.btn:hover{
    box-shadow: 0px 0px 4px 2px #808080;
    border: 2px solid black;
    cursor: pointer;
}
.ON{
    background-color: green;
}
.OF{
    background-color: red;
}
.input-screen{
    height: 60px;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
    border: 3px solid black;
    background-color: grey;
    font-size: 60px;
}
.on{
    font-size: 13px;
    text-align: center;
}
.brand{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 3px;
    padding: 10px;
    background-color: #f761f7;
    background-image: linear-gradient(270deg, #f761f7 0%, #46ccdc 100%);
    border-radius: 5px; 
    cursor: pointer;   
}
.stars{
   position: absolute;
    color: yellow; 
    right: 20px;
    font-size: 30px;
}    

@media screen and (max-device-width: 640px) {
    .calculator-container {
      width: 700px;
      height: 600px;
      background-color: chartreuse;
      color: black;
    }
    .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 30px;
    }
    .btn{
        height: 45px;
        width: 65px;
        font-size: 30px;
        border: 2px solid grey;
        margin: 10px;
    }
  }

  